*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
}
body{
    width: 100vw;
    height: 100px;
    background: rgb(162, 205, 236);
    display: grid;
    justify-content: center;
    
}
.contorno{
    
    position: relative;
    width: 900px;
    height: 500px;
    display: flex;
    grid-template-columns: 1fr 1fr;
    border: 3px solid #00ffff;
    box-shadow: 0 0 50px 0 #00a6bc;
    margin-top: 100px;
    text-align: center;
    justify-content: center;
}
nav{
    display: flex;
    width: 100%;
    background-color: rgb(142, 181, 207);
    border: 3px solid #00ffff;
    box-shadow: 0 0 50px 0 #00a6bc;
    justify-content: center;
    align-items: center;
    height: 40px;
    position: fixed;
    z-index: 1;
    background-color: rgb(87, 30, 119)(162, 0, 255);
    font-family: new tim;
}
.in{
    position: relative;
   
    display: flex;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    
}


.fi{
    position: relative;
   
    display: flex;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    
}
h2{
    font-size: 40px;
    margin-bottom: 30px;
}

#cuenta button{
    border-radius: 8%;
    border-color: rgb(70, 128, 185);
    background-color: rgb(138, 190, 214);
}